@media only screen and (max-width : 1700px)
	.container
		width: 1360px
	.quality__abs_block:last-of-type img
		right: 9%
	.lorem
		height: 620px
	.handcraft
		padding: 100px 0
		img
			top: -80px
	body section h3
		font-size: 6.7rem
@media only screen and (max-width : 1400px)
	html
		font-size: 9px
	body section h3
		font-size: 6rem
	body section h4
		font-size: 5rem
	.lorem
		height: 560px
	.handcraft
		padding: 70px 0
		img
			top: -60px
	.container
		width: 1170px
	.quality
		height: 680px
		p br
			display: none
		&__abs_block:last-of-type
			padding: 60px 30% 60px 0
			background-size: 38%
			background-position: 105% 120%
			img
				right: 13%
		&__abs_block:first-of-type
			padding-right: 20%
	header
		h1
			font-size: 4rem
			span:before
				width: 16rem
				right: -17rem
			span:after
				width: 16rem
				right: auto
				left: -17rem
		h2
			font-size: 2.2rem
		h3
			font-size: 1.8rem
			margin-bottom: 24rem

@media only screen and (max-width : 1200px)
	html
		font-size: 8px
	.handcraft img
		top: 0
	.lorem
		height: 520px
	.quality__abs_block:last-of-type
		padding-right: 25%
		p br
			display: none
		img
			width: 14%
			bottom: 3rem
	.quality__abs_block:first-of-type
		padding-right: 10%
	.quality img.abs_img
		width: 35%
	.container
		width: 930px
	.quality
		height: 630px
@media only screen and (max-width : 992px)
	html
		font-size: 7px
	.container
		width: 720px
	.lorem
		height: 420px
	.quality img.abs_img
		width: 40%
	.quality__abs_block:last-of-type
		padding-top: 40px
		padding-bottom: 40px
		img
			right: 5%
			width: 18%
	body section h3
		font-size: 4rem
	body section h4
		font-size: 4rem
	.handcraft
		padding: 40px 0
		&__box
			max-width: 60%
		h4
			margin-bottom: 4rem
		img
			bottom: 0
			margin: auto
			width: 40%
@media only screen and (max-width : 768px)
	.container
		width: 540px
	.quality
		height: 550px
	.lorem
		height: 320px
	body section p
		font-size: 2rem
	body section h4
		font-size: 3rem
	body section h3
		font-size: 3rem
	header
		h1
			font-size: 3rem
			span:before
				width: 10rem
				right: -11rem
			span:after
				width: 10rem
				right: auto
				left: -11rem
		h2
			font-size: 2rem
		h3
			font-size: 1.8rem
			margin-bottom: 12rem
@media only screen and (max-width : 575px)
	.container
		width: auto
		padding: 0 20px
	body section p
		font-size: 1.7rem